.results-summary {
  @include respond-to('tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: toRem(736);
    border-radius: toRem(32);
    box-shadow: 0 30px 60px $drop-shadow-cobalt-blue;
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    padding: toRem(24) toRem(58) toRem(40);
    color: $color-light-lavender;
    text-align: center;
    background: $gradient-background;
    border-radius: 0 0 toRem(32) toRem(32);

    @include respond-to('tablet') {
      border-radius: toRem(32);
    }

    @include respond-to('desktop') {
      gap: toRem(28);
      padding: toRem(38) toRem(54) toRem(46);
    }
  }

  &__bold {
    display: block;
    margin-bottom: toRem(8);
    font: {
      size: $font-size-large;
      weight: $font-weight-semi-bold;
    }
    color: $color-white;

    @include respond-to('desktop') {
      margin-bottom: toRem(14);
      font-size: $font-size-extra-large;
    }
  }
}
