@use './reset';
@use './lib';
@use 'sass:map';

body {
  min-width: map.get($breakpoints, 'mobile');
  font: {
    family: $font-family-hanken-grotesk, Arial, sans-serif;
    size: $font-size-default-mobile;
    weight: $font-weight-medium;
  }
  color: $color-dark-gray-blue;
  background-color: $color-pale-blue;

  @include respond-to('tablet') {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  @include respond-to('desktop') {
    font-size: $font-size-default-desktop;
  }
}

h1,
h2 {
  font: {
    size: $font-size-medium;
    weight: $font-weight-semi-bold;
  }
  line-height: normal;

  @include respond-to('desktop') {
    font-size: $font-size-large;
  }
}
